<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Icons</title>
  <style>
    @font-face {
      font-family: "{{ fontName }}";
      src: url("{{ fontName }}.woff") format("woff");
    }

    .icon {
      display: inline-block;
      font: 100% "{{ fontName }}";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    {% for glyph in glyphs %}
    .icon-{{ glyph.name }}::before {
      content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
    }
    {% endfor %}

    .sample {
      display: inline-block;
    }
  </style>
</head>
<body>
  {% for glyph in glyphs %}
  <span class="sample">
    <span class="icon icon-{{ glyph.name }}"></span>
    {{ glyph.name }}
  </span>
  {% endfor %}
</body>
</html>




